<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="./assets/mui/css/iconfont.css">
    <link rel="stylesheet" href="./assets/mui/fonts/iconfont.ttf">
    <!-- 第三方字体图标 -->
    <link rel="stylesheet" href="./assets/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/search.css">
    <script src="./assets/mui/js/mui.min.js"></script>
    <script src="./assets/zepto/zepto.min.js"></script>
    <script src="./assets/artTemplate/template-web.js"></script>
    <script src="./js/public.js"></script>
    <script src="./js/search.js"></script>
</head>
<body>
   
        <!-- 头部结构 -->
        <header class="mui-bar mui-bar-nav">
           
            <h1 class="mui-title">搜索</h1>
        </header>
        <!-- 底部导航结构 -->
        <nav class="mui-bar mui-bar-tab ">
            <a class="mui-tab-item mui-active" href="index.html">
                <span class="mui-icon mui-icon-home"></span>
                <span class="mui-tab-label">首页</span>
            </a>
            <a class="mui-tab-item" href="category.html">
                <span class="mui-icon mui-icon-bars"></span>
                <span class="mui-tab-label">分类</span>
            </a>
            <a class="mui-tab-item" href="#tabbar-with-contact">
                <span class=" mui-icon fa fa-shopping-cart" aria-hidden="true"></span>
                <span class="mui-tab-label">购物车</span>
            </a>
            <a class="mui-tab-item" href="user.html">
                <span class="mui-icon mui-icon-gear"></span>
                <span class="mui-tab-label">会员中心</span>
            </a>
        </nav>
        <div class="mui-content">
            <div class="container">
                <!-- 搜索框 -->
                <div class="search">
                    <input type="text" placeholder="搜索您喜欢的商品">
                    <input type="button" value="搜索" id="search-btn">
                </div>
                <!-- /搜索框 -->
    
                <!-- 搜索历史 -->
                <div class="history-top mui-clearfix">
                    <span class="title mui-pull-left">搜索历史</span>
                    <span class="clear mui-pull-right mui-icon mui-icon-trash" id="clearBtn">清空历史</span>
                </div>
                <ul class="mui-table-view" id="history-box">
                    
                </ul>
                <!-- /搜索历史 -->
            </div>
        </div>
      
    <script id="historyTpl" type="text/template">
		<% for(var i=0;i< res.length;i++){ %>
			<li class="mui-table-view-cell"><%=res[i] %></li>
		<% } %>
	</script> 
     
</body>
</html>
