* {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
.layout {
  width: 100%;
  height: 100%;
}
.layout .mui-content .lunbo_Img {
  width: 100%;
}
.layout .mui-content .shoe {
  padding: 10px;
  width: 100%;
}
.layout .mui-content .shoe a {
  width: 33.33%;
  float: left;
  display: block;
}
.layout .mui-content .shoe a img {
  width: 100%;
  display: block;
}
.layout .mui-content .brand {
  width: 100%;
  height: 100%;
}
.layout .mui-content .brand > img {
  width: 100%;
  display: block;
  padding: 10px;
}
.layout .mui-content .brand ul {
  width: 100%;
  padding: 0 10px;
}
.layout .mui-content .brand ul li {
  width: 25%;
  float: left;
}
.layout .mui-content .brand ul li a {
  width: 100%;
  display: block;
}
.layout .mui-content .brand ul li a img {
  width: 100%;
  display: block;
}
.layout .mui-content .product {
  width: 100%;
}
.layout .mui-content .product > img {
  width: 100%;
  padding: 10px;
  display: block;
}
.layout .mui-content .product ul {
  width: 100%;
  padding: 6px 0;
}
.layout .mui-content .product ul li {
  width: 50%;
  float: left;
  padding: 5px;
  box-shadow: 0 0 5px #cccccc;
}
.layout .mui-content .product ul li a {
  display: block;
}
.layout .mui-content .product ul li a img {
  width: 100%;
  display: block;
}
.layout .mui-content .product ul li a p:nth-of-type(1) {
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 14px;
  color: #8f8f94;
  padding: 5px;
}
.layout .mui-content .product ul li a p:nth-of-type(2) {
  text-align: center;
}
.layout .mui-content .product ul li a p:nth-of-type(2) span:first-child {
  color: #f20;
  padding-left: 2px;
}
.layout .mui-content .product ul li a p:nth-of-type(3) {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #006699;
  margin: 0 auto 5px auto;
  border-radius: 5px;
}
